* {
  margin: 0;
  padding: 0;
}
html,
body{
  height: 100%;
}
.content {
  box-sizing: border-box;
  min-height: 100%;
  background:#e7d0f5;
}
{
  color: #000000;
  font: Humanist;
}
.button-container {
  display: flex;
  justify-content: space-around;
}
